Booking a meeting.blueprint.json
{
    "name": "Booking a meeting",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 946164,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -761,
                    "y": 180
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Vapi Booking a meeting"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -92,
                    "y": 196
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-meet:createAMeet",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1608452
                            },
                            "filter": {
                                "name": "isEmailDefined",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.toolCalls[].function.arguments.email}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "end": "{{addMinutes(1.message.toolCalls[].function.arguments.date; 30)}}",
                                "start": "{{1.message.toolCalls[].function.arguments.date}}",
                                "summary": "Meeting with {{1.message.toolCalls[].function.arguments.name}} | {{1.message.toolCalls[].function.arguments.company}}",
                                "calendar": "me@gmail.com",
                                "attendees": [
                                    {
                                        "email": "me@gmail.ai",
                                        "displayName": "[NAME] | autore LTD"
                                    },
                                    {
                                        "email": "{{replace(1.message.toolCalls[].function.arguments.email; \"[at]\"; \"@\")}}",
                                        "displayName": "{{1.message.toolCalls[].function.arguments.name}} | {{1.message.toolCalls[].function.arguments.company}}"
                                    }
                                ],
                                "visibility": "default",
                                "allDayEvent": false,
                                "description": "Meeting with: {{1.message.toolCalls[].function.arguments.name}}\nAbout: {{1.message.toolCalls[].function.arguments.about}}\nPhone number: {{1.message.toolCalls[].function.arguments.phoneNumber}}\nCompany name: {{1.message.toolCalls[].function.arguments.company}}",
                                "sendUpdates": "all",
                                "transparency": "opaque",
                                "guestsCanModify": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 208,
                                    "y": -104
                                },
                                "restore": {
                                    "expect": {
                                        "colorId": {
                                            "mode": "chose"
                                        },
                                        "calendar": {
                                            "mode": "chose",
                                            "label": "me@gmail.com (Primary Calendar)"
                                        },
                                        "attendees": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "overrides": {
                                            "mode": "chose"
                                        },
                                        "recurrence": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Default"
                                        },
                                        "allDayEvent": {
                                            "mode": "chose"
                                        },
                                        "sendUpdates": {
                                            "mode": "chose",
                                            "label": "To All Guests"
                                        },
                                        "transparency": {
                                            "mode": "chose",
                                            "label": "Busy"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "autore.ai connection (me@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "colorId",
                                        "type": "select",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Event Name",
                                        "required": true
                                    },
                                    {
                                        "name": "allDayEvent",
                                        "type": "boolean",
                                        "label": "All Day Event",
                                        "required": true
                                    },
                                    {
                                        "name": "start",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Date",
                                        "required": true
                                    },
                                    {
                                        "name": "end",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Date",
                                        "required": true
                                    },
                                    {
                                        "name": "sendUpdates",
                                        "type": "select",
                                        "label": "Send notifications about the event creation",
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "externalOnly",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "location",
                                        "type": "text",
                                        "label": "Location"
                                    },
                                    {
                                        "name": "useDefault",
                                        "type": "boolean",
                                        "label": "Use the default reminder settings for this event"
                                    },
                                    {
                                        "name": "overrides",
                                        "spec": [
                                            {
                                                "name": "method",
                                                "type": "select",
                                                "label": "Method",
                                                "options": [
                                                    {
                                                        "label": "Email",
                                                        "value": "email"
                                                    },
                                                    {
                                                        "label": "Pop-up",
                                                        "value": "popup"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "minutes",
                                                "type": "uinteger",
                                                "label": "Minutes",
                                                "required": true,
                                                "validate": {
                                                    "max": 40320
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Reminders",
                                        "validate": {
                                            "maxItems": 5
                                        }
                                    },
                                    {
                                        "name": "attendees",
                                        "spec": [
                                            {
                                                "name": "displayName",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "email",
                                                "type": "email",
                                                "label": "Email",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attendees"
                                    },
                                    {
                                        "name": "transparency",
                                        "type": "select",
                                        "label": "Show me as",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "opaque",
                                                "transparent"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "public",
                                                "private"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "guestsCanModify",
                                        "type": "boolean",
                                        "label": "Guests can modify the event",
                                        "required": true
                                    },
                                    {
                                        "name": "recurrence",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        },
                                        "type": "array",
                                        "label": "Recurrence"
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 16,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": -80,
                                            "y": -165
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 208,
                                    "y": 196
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 10,
                                            "module": "twilio:SendSMS",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 3040671
                                            },
                                            "mapper": {
                                                "to": "{{1.message.customer.number}}",
                                                "body": "Your appointment to view {{1.message.toolCalls[].function.arguments.propertyAddress}} has been booked for {{formatDate(1.message.toolCallList[].function.arguments.date; \"MMM DD, YYYY\")}} at {{formatDate(1.message.toolCalls[].function.arguments.date; \" HH:mm\")}}",
                                                "from": "+[CHANGE_ME]",
                                                "fromType": "phone",
                                                "messageBody": "body"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 527,
                                                    "y": -38
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "mode": "chose",
                                                            "label": "[CHANGE_ME]"
                                                        },
                                                        "fromType": {
                                                            "mode": "chose",
                                                            "label": "phone number"
                                                        },
                                                        "mediaUrl": {
                                                            "mode": "chose"
                                                        },
                                                        "messageBody": {
                                                            "mode": "chose",
                                                            "label": "Create a Body"
                                                        },
                                                        "smartEncoded": {
                                                            "mode": "chose"
                                                        },
                                                        "applicationSid": {
                                                            "mode": "chose"
                                                        },
                                                        "provideFeedback": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "twilio"
                                                            },
                                                            "label": "My Twilio connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:twilio",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "fromType",
                                                        "type": "select",
                                                        "label": "Send a message from",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "phone",
                                                                "service",
                                                                "channel"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "to",
                                                        "type": "text",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageBody",
                                                        "type": "select",
                                                        "label": "Message Body",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "body",
                                                                "template"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "mediaUrl",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "url"
                                                        },
                                                        "type": "array",
                                                        "label": "Media URL"
                                                    },
                                                    {
                                                        "name": "smartEncoded",
                                                        "type": "boolean",
                                                        "label": "Smart encoded"
                                                    },
                                                    {
                                                        "name": "validityPeriod",
                                                        "type": "uinteger",
                                                        "label": "Validity period"
                                                    },
                                                    {
                                                        "name": "statusCallback",
                                                        "type": "url",
                                                        "label": "Status callback"
                                                    },
                                                    {
                                                        "name": "applicationSid",
                                                        "type": "select",
                                                        "label": "Application"
                                                    },
                                                    {
                                                        "name": "maxPrice",
                                                        "type": "number",
                                                        "label": "Max price"
                                                    },
                                                    {
                                                        "name": "provideFeedback",
                                                        "type": "boolean",
                                                        "label": "Provide feedback"
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Phone number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "text",
                                                        "label": "Body",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1600
                                                        }
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 15,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 675,
                                                            "y": 170
                                                        }
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 21,
                                            "module": "json:CreateJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": 97500,
                                                "space": ""
                                            },
                                            "mapper": {
                                                "results": [
                                                    {
                                                        "result": "{{10.body}}",
                                                        "toolCallId": "{{1.message.toolCallList[].id}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 827,
                                                    "y": -38
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "results": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "type": {
                                                            "label": "BusyTimesVapiStructure"
                                                        },
                                                        "space": {
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "space",
                                                        "type": "select",
                                                        "label": "Indentation",
                                                        "validate": {
                                                            "enum": [
                                                                "tab",
                                                                "2",
                                                                "4"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "results",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "toolCallId",
                                                                    "type": "text",
                                                                    "label": null
                                                                },
                                                                {
                                                                    "name": "result",
                                                                    "type": "text",
                                                                    "label": null
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Results"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 19,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{{21.json}}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1160,
                                                    "y": -48
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 12,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": true,
                                                "useNewZLibDeCompress": true
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [],
                                                "url": "https://api.twilio.com/2010-04-01/Accounts/[CHANGE_ME]/Messages.json",
                                                "gzip": true,
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Basic {{base64(\"[CHANGE_ME]:[CHANGE_ME]\")}}"
                                                    }
                                                ],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "x_www_form_urlencoded",
                                                "formFields": [
                                                    {
                                                        "key": "To",
                                                        "value": "whatsapp:{{1.message.toolCalls[].function.arguments.phoneNumber}}"
                                                    },
                                                    {
                                                        "key": "From",
                                                        "value": "whatsapp:+[CHANGE_ME]"
                                                    },
                                                    {
                                                        "key": "Body",
                                                        "value": "Hello {{1.message.toolCalls[].function.arguments.name}}, Your appointment is coming up on {{formatDate(1.message.toolCalls[].function.arguments.date; \"MMM DD\")}} at ({{1.message.toolCallList[].function.arguments.date}};H:mmA"
                                                    },
                                                    {
                                                        "key": "ContentSid",
                                                        "value": "[CHANGE_ME]"
                                                    },
                                                    {
                                                        "key": "MessagingServiceSid",
                                                        "value": "[CHANGE_ME]"
                                                    },
                                                    {
                                                        "key": "ContentVariables",
                                                        "value": "{ \"1\": \"{{1.message.toolCalls[].function.arguments.name}}\", \"2\":\"{{1.message.toolCalls[].function.arguments.propertyAddress}}\", \"3\": \"{{formatDate(1.message.toolCalls[].function.arguments.date; \"MMM DD\")}}\", \"4\": \"{{formatDate(1.message.toolCalls[].function.arguments.date; \" H:mmA\")}}\" }"
                                                    }
                                                ],
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 540,
                                                    "y": 413
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bodyType": {
                                                            "label": "Application/x-www-form-urlencoded"
                                                        },
                                                        "formFields": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null,
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate"
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "formFields",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Fields"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 17,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 541,
                                                            "y": 694
                                                        }
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 22,
                                            "module": "json:CreateJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": 97500,
                                                "space": ""
                                            },
                                            "mapper": {
                                                "results": [
                                                    {
                                                        "result": "message sent to {{12.data.to}} {{12.data.body}}",
                                                        "toolCallId": "{{1.message.toolCallList[].id}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 840,
                                                    "y": 413
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "results": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "type": {
                                                            "label": "BusyTimesVapiStructure"
                                                        },
                                                        "space": {
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "space",
                                                        "type": "select",
                                                        "label": "Indentation",
                                                        "validate": {
                                                            "enum": [
                                                                "tab",
                                                                "2",
                                                                "4"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "results",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "toolCallId",
                                                                    "type": "text",
                                                                    "label": null
                                                                },
                                                                {
                                                                    "name": "result",
                                                                    "type": "text",
                                                                    "label": null
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Results"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 20,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{{22.json}}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1191,
                                                    "y": 418
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "google-calendar:createAnEvent",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 1608452
                            },
                            "mapper": {
                                "start": "{{1.message.toolCalls[].function.arguments.date}}",
                                "select": "detail",
                                "summary": "Viewing with {{1.message.toolCalls[].function.arguments.name}} at {{formatDate(1.message.toolCalls[].function.arguments.date; \"DD.MMM.YYYY\")}} at {{formatDate(1.message.toolCallList[].function.arguments.date; \"HH:mm\")}} Number: {{1.message.toolCalls[].function.arguments.phoneNumber}}",
                                "calendar": "[CHANGE_ME]@group.calendar.google.com",
                                "duration": "30",
                                "visibility": "default",
                                "allDayEvent": false,
                                "transparency": "opaque",
                                "conferenceDate": false,
                                "guestPermissions": {
                                    "guestsCanModify": false,
                                    "guestsCanInviteOthers": true,
                                    "guestsCanSeeOtherGuests": true
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 190,
                                    "y": 1044
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "In Detail"
                                        },
                                        "colorId": {
                                            "mode": "chose"
                                        },
                                        "calendar": {
                                            "mode": "chose",
                                            "label": "Property Viewings"
                                        },
                                        "attendees": {
                                            "mode": "chose"
                                        },
                                        "overrides": {
                                            "mode": "chose"
                                        },
                                        "recurrence": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Default"
                                        },
                                        "allDayEvent": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "sendUpdates": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "transparency": {
                                            "mode": "chose",
                                            "label": "Busy"
                                        },
                                        "conferenceDate": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "autore.ai connection (me@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Create an Event",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "quick",
                                                "detail"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "colorId",
                                        "type": "select",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Event Name",
                                        "required": true
                                    },
                                    {
                                        "name": "allDayEvent",
                                        "type": "boolean",
                                        "label": "All Day Event",
                                        "required": true
                                    },
                                    {
                                        "name": "start",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Date",
                                        "required": true
                                    },
                                    {
                                        "name": "end",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Date"
                                    },
                                    {
                                        "name": "duration",
                                        "type": "time",
                                        "label": "Duration"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "location",
                                        "type": "text",
                                        "label": "Location"
                                    },
                                    {
                                        "name": "useDefault",
                                        "type": "boolean",
                                        "label": "Use the default reminder settings for this event"
                                    },
                                    {
                                        "name": "overrides",
                                        "spec": [
                                            {
                                                "name": "method",
                                                "type": "select",
                                                "label": "Method",
                                                "options": [
                                                    {
                                                        "label": "Email",
                                                        "value": "email"
                                                    },
                                                    {
                                                        "label": "Pop-up",
                                                        "value": "popup"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "minutes",
                                                "type": "uinteger",
                                                "label": "Minutes",
                                                "required": true,
                                                "validate": {
                                                    "max": 40320
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Reminders",
                                        "validate": {
                                            "maxItems": 5
                                        }
                                    },
                                    {
                                        "name": "attendees",
                                        "spec": [
                                            {
                                                "name": "displayName",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "email",
                                                "type": "email",
                                                "label": "Email",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attendees"
                                    },
                                    {
                                        "name": "transparency",
                                        "type": "select",
                                        "label": "Show me as",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "opaque",
                                                "transparent"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "public",
                                                "private"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "sendUpdates",
                                        "type": "select",
                                        "label": "Send notifications about the event creation",
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "externalOnly",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "guestPermissions",
                                        "spec": [
                                            {
                                                "name": "guestsCanModify",
                                                "type": "boolean",
                                                "label": "Modify event",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanInviteOthers",
                                                "type": "boolean",
                                                "label": "Invite others",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanSeeOtherGuests",
                                                "type": "boolean",
                                                "label": "See guest list",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Guest Permissions"
                                    },
                                    {
                                        "name": "recurrence",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        },
                                        "type": "array",
                                        "label": "Recurrence"
                                    },
                                    {
                                        "name": "conferenceDate",
                                        "type": "boolean",
                                        "label": "Add Google Meet Video Conferencing",
                                        "required": true
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileUrl",
                                                "type": "url",
                                                "label": "File URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 18,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": -245,
                                            "y": 1044
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 23,
                            "module": "airtable:upsertRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1647557
                            },
                            "mapper": {
                                "base": "appYpn7PzYzwTRg90",
                                "table": "tbl0Nd6LguHL2tBw1",
                                "record": {
                                    "fld78z7OzYU2YWKC4": "{{1.message.call.customer.number}}",
                                    "fldAdOV4vNfm1Z48u": "{{formatDate(13.end; \"DD/MM/YYYY HH:mm\")}}",
                                    "fldBOhjjmbSBqaseZ": "{{13.summary}}",
                                    "fldN78wSMlwQj2Egp": "{{1.message.call.id}}",
                                    "fldRFmbj7sdbUWlNf": "{{1.message.timestamp}}",
                                    "fldbfb5JzvXKlRejf": "{{formatDate(13.start; \"DD/MM/YYYY HH:mm\")}}",
                                    "fldei5KJMoDLLU1Tg": "{{13.id}}",
                                    "fldlmYuqpwVApGArF": "{{13.creator.email}}",
                                    "flduMpFEdCznWLTZS": "{{13.organizer.email}}@group.calendar.google.com",
                                    "fldvk5Ftu5lbhRfSh": "{{13.organizer.displayName}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 490,
                                    "y": 1044
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "appointments_base"
                                        },
                                        "table": {
                                            "label": "appointments"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable Token or Key connection (User ID: usr2DM1uvYgKOs5NB)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldN78wSMlwQj2Egp",
                                                "type": "text",
                                                "label": "voiceCallId"
                                            },
                                            {
                                                "name": "fld78z7OzYU2YWKC4",
                                                "type": "text",
                                                "label": "clientPhoneNumber"
                                            },
                                            {
                                                "name": "fldbfb5JzvXKlRejf",
                                                "time": true,
                                                "type": "date",
                                                "label": "eventStartDate"
                                            },
                                            {
                                                "name": "fldAdOV4vNfm1Z48u",
                                                "time": true,
                                                "type": "date",
                                                "label": "eventEndDate"
                                            },
                                            {
                                                "name": "fldvk5Ftu5lbhRfSh",
                                                "type": "text",
                                                "label": "calendarName"
                                            },
                                            {
                                                "name": "fldPRM7CwihlpkoaI",
                                                "type": "text",
                                                "label": "eventDuration"
                                            },
                                            {
                                                "name": "fldlmYuqpwVApGArF",
                                                "type": "text",
                                                "label": "createdBy"
                                            },
                                            {
                                                "name": "flduMpFEdCznWLTZS",
                                                "type": "text",
                                                "label": "calendarId"
                                            },
                                            {
                                                "name": "fldei5KJMoDLLU1Tg",
                                                "type": "text",
                                                "label": "eventId"
                                            },
                                            {
                                                "name": "fldBOhjjmbSBqaseZ",
                                                "type": "text",
                                                "label": "eventSummary"
                                            },
                                            {
                                                "name": "fldRFmbj7sdbUWlNf",
                                                "type": "text",
                                                "label": "callTimestamp"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "voiceCallId",
                                        "type": "text",
                                        "label": "voiceCallId"
                                    },
                                    {
                                        "name": "clientPhoneNumber",
                                        "type": "text",
                                        "label": "clientPhoneNumber"
                                    },
                                    {
                                        "name": "eventStartDate",
                                        "time": true,
                                        "type": "date",
                                        "label": "eventStartDate"
                                    },
                                    {
                                        "name": "eventEndDate",
                                        "time": true,
                                        "type": "date",
                                        "label": "eventEndDate"
                                    },
                                    {
                                        "name": "calendarName",
                                        "type": "text",
                                        "label": "calendarName"
                                    },
                                    {
                                        "name": "eventDuration",
                                        "type": "text",
                                        "label": "eventDuration"
                                    },
                                    {
                                        "name": "createdBy",
                                        "type": "text",
                                        "label": "createdBy"
                                    },
                                    {
                                        "name": "calendarId",
                                        "type": "text",
                                        "label": "calendarId"
                                    },
                                    {
                                        "name": "eventId",
                                        "type": "text",
                                        "label": "eventId"
                                    },
                                    {
                                        "name": "eventSummary",
                                        "type": "text",
                                        "label": "eventSummary",
                                        "multiline": true
                                    },
                                    {
                                        "name": "callTimestamp",
                                        "type": "text",
                                        "label": "callTimestamp"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}